<div class="container">
	{{#ifeq rol 'aspirante'}}
		<form action="/inscribirAspCurso?action={{formulario.action}}&doc={{formulario.doc}}" method="post">
			<input type="hidden" name="id_curso" value="{{id}}">
			<input type="hidden" name="doc_aspirante" value="{{formulario.doc}}">
			<input type="hidden" name="action" value="{{formulario.action}}">
			<div class="row">
				<div class="form-group col">
					<button class="btn btn-primary" name="boton" value="inscribirAspCurso">Inscribirme</button>
				</div>
			</div>
		</form>
	{{/ifeq}}
</div>