<div class="container">
	<form action="/inscribirAspCurso?rol={{rol}}&action={{formulario.action}}&doc={{formulario.doc}}" method="post">
		<input type="hidden" name="id_curso" value="{{id}}">
		<input type="hidden" name="doc_aspirante" value="{{formulario.doc}}">
		<input type="hidden" name="action" value="{{formulario.action}}">
		{{#if (alertaValidarCampos resultado.boton 'inscribirAspCurso')}}
			<div class="row">
				<div class="bs-component">
					<div class="alert alert-dismissible alert-{{mostrarAlerta resultado}}">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>{{resultado.estado}}!</strong> {{resultado.msg}}
					</div>
				</div>
			</div>
		{{/if}}
    	<div class="row">
			<div class="form-group col">
    			<button class="btn btn-primary" name="boton" value="inscribirAspCurso">Inscribirme</button>
    		</div>
    	</div>
    </form>
</div>