{{>header}}
{{#if (alertaValidarCampos resultado.boton boton)}}
	{{#if (mostrarFormAlInscribir resultado.doc_trigger doc)}}
		<div class="row">
			<div class="bs-component" align="center" style="margin-left: 150px">
				<div class="alert alert-dismissible alert-{{mostrarAlerta resultado}}">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>{{resultado.estado}}!</strong> {{resultado.msg}}
				</div>
			</div>
		</div>
	{{/if}}
{{/if}}
<div class="container">
	<div class="accordion" id="accordionExample">
		{{#each (mostrarUsuarios rol_sesion)}}
			<div class="card">
			    <div class="card-header" id="heading{{@index}}">
				    <h4 class="mb-0">
				      	{{nombre}}
				        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
				        	<small class="text-muted">Editar</small>
				        </button>
				    </h4>
				    <table class="table table-bordered table-sm">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Nombre</th>
								<th scope="col">Documento</th>
								<th scope="col">Correo</th>
								<th scope="col">Telefono</th>
								<th scope="col">Rol</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td scope="col">{{nombre}}</td>
								<td scope="col">{{doc}}</td>
								<td scope="col">{{correo}}</td>						
								<td scope="col">{{telefono}}</td>						
								<td scope="col">{{rol}}</td>						
							</tr>
						</tbody>
					</table>
			    </div>
			    <div id="collapse{{@index}}" class="collapse {{mostrarFormAlInscribir ../resultado.doc_trigger doc}}" aria-labelledby="heading{{@index}}" data-parent="#accordionExample">
			      	<div class="card-body">
			      		{{>formUsuario pagina='adminusuarios' action='usuarios' formulario=this boton='actualizar' resultado=../resultado doc=doc rol=../rol_sesion}}
			    	</div>
			    </div>
			</div>
		{{/each}}
	</div>
</div>
{{>footer}}