{{>header}}
{{#if (crearCursos rol)}}
	{{>formCrearCurso}}
{{/if}}
{{#if (alertaValidarCampos resultado.boton 'remover')}}
	<div class="row">
		<div class="bs-component" align="center" style="margin-left: 92px">
			<div class="alert alert-dismissible alert-{{mostrarAlerta resultado}}">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>{{resultado.estado}}!</strong> {{resultado.msg}}
			</div>
		</div>
	</div>
{{/if}}
<div class="container">
	<div class="accordion" id="accordionExample">
		{{#each (mostrarCursos rol formulario.doc formulario.action)}}
			<div class="card">
		    <div class="card-header" id="heading{{@index}}">
			    <h4 class="mb-0">
			      	{{nombre}}
			        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
			        	<small class="text-muted">Mas informacion</small>
			        </button>
			    </h4>
			    <table class="table table-bordered table-sm">
					<thead class="thead-dark">
						<tr>
							{{#if (listarAspirantesXCurso ../rol)}}
								<th scope="col">Estado</th>
								<th scope="col">ID</th>
							{{/if}}
							<th scope="col">Nombre</th>
							<th scope="col">Descripcion</th>
							<th scope="col">Valor</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							{{#if (listarAspirantesXCurso ../rol)}}
								<td scope="col">{{estado}}</td>
								<td scope="col">{{id}}</td>
							{{/if}}
							<td scope="col">{{nombre}}</td>
							<td scope="col">{{descripcion}}</td>
							<td scope="col">{{valor}}</td>						
						</tr>
					</tbody>
				</table>
		    </div>

		    <div id="collapse{{@index}}" class="collapse {{mostrarFormAlInscribir ../resultado.id_curso id}}" aria-labelledby="heading{{@index}}" data-parent="#accordionExample">
		      <div class="card-body">
		      	<div class="container" style="margin-bottom: 2em;">
			        <table class="table table-borderless table-sm">
						<thead>
							<tr>
								<th scope="col">Descripcion</th>
								<th scope="col">Modalidad</th>
								<th scope="col">Intensidad horaria</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td scope="col">{{descripcion}}</td>
								<td scope="col">{{modalidad}}</td>
								<td scope="col">{{intensidad}}</td>
							</tr>
						</tbody>
					</table>
		        </div>
				{{#ifnoteq ../rol ""}} 
					{{#if (permitirInscribir ../rol ../action)}}
						{{>formCrearAspiranteCurso rol=../rol resultado=../resultado formulario=../formulario}}
					{{else}}
						{{>formEliminarAspiranteCurso rol=../rol resultado=../resultado formulario=../formulario}}
					{{/if}}
				{{/ifnoteq}}
	        	{{#if (mostrarFormAlInscribir ../resultado.id_curso id)}}
	        		{{#if (alertaValidarCampos ../resultado.boton 'actualizar')}}
		        		<div class="container">
			        		<div class="row">
								<div class="bs-component">
									<div class="alert alert-dismissible alert-{{mostrarAlerta ../resultado}}">
										<button type="button" class="close" data-dismiss="alert">×</button>
										<strong>{{../resultado.estado}}!</strong> {{../resultado.msg}}
									</div>
								</div>
							</div>
						</div>
					{{/if}}
				{{/if}}
		        {{#if (listarAspirantesXCurso ../rol)}}
			        {{>actualizarCurso rol=../rol resultado=../resultado formulario=../formulario}}
		        	{{#if (mostrarAspirantesXCurso id)}}
			        	{{>listarAspirantesCurso rol=../rol id=id}}
		        	{{/if}}
		        {{/if}}
		      </div>
		    </div>
		  </div>
		{{/each}}
	</div>
</div>
{{>footer}}